<ion-header>
  <ion-toolbar>
    <ion-title>listar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!--Listdo de productos-->
 <ion-card *ngFor="let usuario of listarUsuarios">
  <ion-card-header>
    <ion-card-title>
      Nombre : {{usuario.nombre_usuario}}

    </ion-card-title>
    <ion-card-subtitle>

      admin : {{usuario.admin}}
      <br>

    </ion-card-subtitle>
    <ion-card-content>
      <ion-button
      [routerLink]="['/modificar-usuario', usuario.id]"
      >
      Dar admin
      </ion-button>


        </ion-card-content>
      </ion-card-header>
    </ion-card>


















  <!--Infinite scroll-->
  <ion-infinite-scroll (ionInfinite)="cargarMasProds()">
    <ion-infinite-scroll-content loadingText="Cargando mas productos . . .">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
