<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>


<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-button
    expand="block"
    shape="round"
    color="success"
    size="small"
    [routerLink]="['registro']"
    >
    registro
      <ion-icon
      slot="end"
      name="person-add"
      >
      </ion-icon>
    </ion-button>
    <ion-button
    expand="block"
    shape="round"
    color="success"
    size="small"
    [routerLink]="['login']"
    >
    Login
      <ion-icon
      slot="end"
      name="person"
      >
      </ion-icon>
    </ion-button>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

  </ion-content>
</div>




<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agrega-producto']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--Listdo de productos-->
  <ion-card *ngFor="let producto of listaProductos">
    <ion-img [src]="producto.foto" loading="lazy"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Nombre : {{producto.nombre}}
        <br>
        Precio : ${{producto.precio_venta}}
      </ion-card-title>
      <ion-card-subtitle>Proveedor :{{producto.proveedor}}</ion-card-subtitle>
      <ion-label>Fecha elaboracion :{{producto.fecha_elaboracion}}</ion-label>
      <ion-card-content>
        <ion-button
        expand="block"
        shape="round"
        size="small"
        color="success"
        >
          Agregar al carro
          <ion-icon slot="end" name="cart"></ion-icon>
        </ion-button>

        <br>

        <ion-button
        expand="block"
        shape="round"
        color="danger"
        size="small"
        [routerLink]="['/elimina-producto', producto.id]"
        >
        Eliminar
          <ion-icon
          slot="end"
          name="trash"
          >
          </ion-icon>
        </ion-button>

        <ion-button
        expand="block"
        shape="round"
        size="small"
        [routerLink]="['/modifica-producto',producto.id]"
        >
        Modificar
          <ion-icon
          slot="end"
          name="build">
          </ion-icon>
        </ion-button>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <!--Infinite scroll-->
  <ion-infinite-scroll (ionInfinite)="cargarMasProds()">
    <ion-infinite-scroll-content loadingText="Cargando mas productos . . .">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
