<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
    >Venta de autos
    <ion-icon
    name="car"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Listdo de productos-->
  <ion-card *ngFor="let producto of listaProductos">
    <ion-img [src]="producto.foto" loading="lazy"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Nombre : {{producto.nombre}}
        <br>
        Precio : ${{producto.precio_venta}}
      </ion-card-title>
      <ion-card-subtitle>Proveedor :{{producto.proveedor}}</ion-card-subtitle>
      <ion-label>Fecha fabricación :{{producto.fecha_fabricacion}}</ion-label>
      <ion-card-content>
        <ion-button
        expand="block"
        shape="round"
        size="small"
        color="success"
        [routerLink]="['/detalle', producto.id]"
        >
          Detalle vehiculo
          <ion-icon slot="end" name="search"></ion-icon>
        </ion-button>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <!--Infinite scroll-->
  <ion-infinite-scroll (ionInfinite)="cargarMasProds()">
    <ion-infinite-scroll-content loadingText="Cargando mas productos . . .">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
